<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../styles/reset.css">
    <link rel="stylesheet" href="../../../styles/base.css">
    <link rel="stylesheet" href="../../../styles/modules.css">
    <link rel="stylesheet" href="../../../styles/thems.css">
    <link rel="stylesheet" href="../../../styles/layout.css">
</head>

<body>
    <%- include('../../layout/header')%>
    <main>
        <% data.forEach(book=>{%>
            <%console.log(book,'salmam')%>
        <div class="div">
            <img name='img' src="<%=book.img%>" alt="">
            <h3><%=book.title%></h3>
            <p>writen by:</p>
            <p><%=book.author[0]%></p>
            <p class="des"><%=book.description.slice(0,130)%><%=book.description.length>130?'....':''%></p>
            <form action="/books" method="POST">
                <input name='title' value='<%=book.title%>' type="img">
                <input name='img' value='<%=book.img%>' type="img">
                <input name='author' value='<%=book.author%>' type="img">
                <input name='description' value='<%=book.description%>' type="img">
                <input name='bookshelf' value='<%=book.bookshelf[0]%>' type="img">
                <input name='isbn' value='<%=book.ISBN[0].identifier%>' type="img">

                <button>ADD</button>
            </form>
        </div>
        <%}) %>
    </main>
</body>

</html>