<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../styles/reset.css">
    <link rel="stylesheet" href="../../../styles/base.css">
    <link rel="stylesheet" href="../../../styles/modules.css">
    <link rel="stylesheet" href="../../../styles/thems.css">
    <link rel="stylesheet" href="../../../styles/layout.css">
</head>

<body>
    <header>
        <div class="main-head">
            <h1>Best Books!</h1>
        </div>
        <!-- <div class="text-center sub-head">
            <p>Search by Title or Author</p>
        </div> -->
    </header>
    <main>
        <% data.forEach(book=>{%>
        <div>
            <%console.log(book.title,'  ',book.author)%>
            <img src="<%=book.img%>" alt="">
            <!-- <h3>></h3> -->
            <h3><%=book.title%></h3>
            <p>writen by:</p>
            <p><%=book.author[0]%></p>
            <p class="des"><%=book.description.slice(0,130)%><%=book.description.length>130?'....':''%></p>
            <!-- <p class="des"><%console.log(book.description.slice(0,10),'dsfdsfdsfds')%>....</p> -->
        </div>
        <%}) %>
    </main>
</body>

</html>